$mainColor: rgb(161, 113, 98);

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@mixin make-container($padding-x: $container-padding-x) {
  width: 70%;
  max-width: 1440px;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

.body_color {
  background-color: rgb(250, 250, 250);
}

// Usage
.chicofgo_dark {
  background-color: rgb(38, 38, 38);
}
.chicofgo_dark_font {
  color: rgb(38, 38, 38);
}

.chicofgo_white {
  background-color: rgb(250, 250, 250);
}

.chicofgo_white_font {
  color: rgb(250, 250, 250);
}

.chicofgo_brown {
  background-color: rgb(161, 113, 98);
}

.chicofgo_brown_font {
  color: rgb(161, 113, 98);
}

.chicofgo_green {
  background-color: rgb(54, 111, 84);
}

.chicofgo_green_font {
  color: rgb(54, 111, 84);
}

.chicofgo_gray {
  background-color: rgb(238, 238, 238);
}

.chicofgo_gray_font {
  color: rgb(238, 238, 238);
}

.chicofgo_khaki {
  background-color: rgb(166, 155, 132);
}

.chicofgo_khaki_font {
  color: rgb(166, 155, 132);
}

.chicofgo_yello {
  background-color: rgb(248, 245, 234);
}

.chicofgo_yello_font {
  color: rgb(248, 245, 234);
}

.chicofgo_light-black {
  background-color: rgb(73, 61, 6);
}

.chicofgo_light-black {
  color: rgb(73, 61, 6);
}

.custom-container {
  @include make-container();
}

.mainbackground {
  background-color: rgb(161, 113, 98);
}

.foot_a:hover {
  color: rgb(54, 111, 84);
}

.foor_container {
  padding-left: 7%;
}

.btn1 {
  color: whitesmoke;
  height: 36px;
  width: 140px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 3px 12px  black;
  background-color:rgb(161, 113, 98);
  outline: none;
  &:active {
      outline: none;
  }
  box-shadow: 0 3px 4px #0005;
  

  &:active {
      transform: scale(0.95);
  }
}
  

.btn1:hover {
  background-color:  rgb(166, 155, 132);
  box-shadow: none;
  transition: background-color .5s, box-shadow 0.5s, transform 0.1s;
}
