@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&family=Roboto:wght@400;700;900&display=swap');

.coupon-container {
  background: rgb(54, 111, 84);
  font-family: 'Roboto', sans-serif;
  font-family: 'Noto Sans TC', sans-serif;
}
.col {
  // border: 1px solid #000;
}
.one-area {
  background: rgb(166, 155, 132);
  border-radius: 30px;
}
.one-area-title {
  text-align: center;
  color: white;
  font-weight: 900;
}
.mainPage {
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.firstPage {
  min-height: 100vh;
}
.secendPage2 {
  min-height: calc(100vh - 24px);
}
.row2 {
  border-top: 12px rgb(166, 155, 132) dashed;
  border-bottom: 12px rgb(166, 155, 132) dashed;
}
.row3 {
  background: rgb(248, 245, 234);
}
.three-area-title {
  text-align: center;
  color: rgb(73, 67, 61);
  font-weight: 900;
}
.mainPage h1 {
  font-size: 40px;
  font-weight: 700;
  // line-height: 60px;
  color: rgb(250, 250, 250);
}
.three-area-title h1 {
  color: rgb(73, 67, 61);
}
