

.list_container {
    max-width: 1015px;
    min-width: 1015px;
   
}


label {
    font-size: 14PX;
}

.list_control {
    width: 100%;
   
   
}





.block_brand {
    margin-top: 55px;
}

.block_cate {
    margin-top: 32px;
}

.block_items{
    margin-top: 32px;
}
.block_origin {
    margin-top: 32px;
}

.block_price {
    margin-top: 32px;
}

.Inquire {
    margin-top: 19px;
    width: 140px;
    border-radius: 5px;
    box-shadow: 0 3px 4px #0005;
    &:hover {

    }&:active {
        transform: scale(0.95);
    }
}

.text_c {
    width: 140px;
    border-radius: 5px;
}



.card_group {
    width: 100%;
   
    margin-bottom: 200px;
    
}

  

