.shoppingcartTitle {
  font-size: 32px;
  font-weight: 700;
  color: rgb(161, 113, 98);
}
.totalSum {
  span {
    font-size: 1.5rem;
    color: rgb(54, 111, 84);
    font-weight: 700;
    padding-left: 10px;
  }
}
