.card_contorl {
    width: 100%;
    height: 360px;
    position: relative;
    cursor: pointer;
    // background-color: paleturquoise;
}

.card_contorl:hover {
    top:-10px;
}

.card_body {
    width: 100%;
    height: 360px;
    background-color:#ffff;
}

.p_img_c {
    
    
    img {
        max-width: 100%;
        height: 200px;
    }
}

.content {
    padding: 8px;
   
}

.text_contorl {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.evaluate {
    width: 100%;
    height: 40px;
    
}

.keepshop {
    width: 100%;
    height: 400px;
    background-color: rgb(238, 238, 238);
    
}