.SideBarBody {
  background: rgba(238, 238, 238, 0.9);

  padding-top: 100px;
  P {
    color: rgb(166, 155, 132);
    margin: auto;
    font-weight: 700;
    font-size: 18px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
  }
  a {
    padding: 0;
  }
}
