@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,100,900");
.header {
  align-items: center;
  background-color: var(--white);
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-color: var(--chicfgo166155132);
  box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.1019607843);
  display: flex;
  gap: 288px;
  height: 80px;
  left: 0;
  padding: 2px 10px;
  position: fixed;
  top: 0;
  width: 1920px;
  z-index: 13;
}

.component {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/63a3ef767235f4e0ffbaf9be/releases/63a3f037cee2e91f8ed55e59/img/logo-off@2x.png);
  background-size: 100% 100%;
  height: 57px;
  min-width: 158px;
}

.titleall {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.frist_a,
.frist_b,
.frist_c {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: center;
  padding: 4px 22px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.text_label-3 {
  letter-spacing: 0;
  line-height: normal;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.frist_5 {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: center;
  padding: 4px 22px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.text_label-2 {
  letter-spacing: 0;
  line-height: normal;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.text_label-4 {
  letter-spacing: 0;
  line-height: normal;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.text-20 {
  letter-spacing: 0;
  line-height: normal;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.frist_d {
  align-items: center;
  background-color: var(--chicfgo5411184);
  border-radius: 15px;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: center;
  padding: 0px 22px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.text_label_1 {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl2);
  font-weight: 900;
  letter-spacing: 0;
  line-height: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.rught {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 468px;
}

.frame_52 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--chicfgo166155132);
  border-radius: 26px;
  height: 40px;
  min-width: 159px;
  overflow: hidden;
  position: relative;
}

.icon_search {
  height: 23px;
  left: 15px;
  position: absolute;
  top: 8px;
  width: 23px;
}

.component_25 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/63a3ef767235f4e0ffbaf9be/releases/63b63db683398fdd7a4ce8ff/img/shop-off-36@2x.svg);
  background-size: 100% 100%;
  height: 29px;
  min-width: 33px;
}

.component_27 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/63a3ef767235f4e0ffbaf9be/releases/63b63db683398fdd7a4ce8ff/img/--@2x.svg);
  background-size: 100% 100%;
  height: 33.03px;
  min-width: 34.96px;
}

.login {
  height: 27px;
  min-width: 170px;
  position: relative;
}

.text_21 {
  color: var(--chicfgo16111398);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl2);
  font-weight: 900;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}

.icon_user {
  height: 30px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 30px;
}/*# sourceMappingURL=Header.module.css.map */